h1 {
    font-size: 28;
    text-align: center;
    padding: 20px;
    margin-bottom: 200px;
}
body {
    font-size: 14px;
    font-family: arial, sans-serif;
}
html, body {
    min-width: 400px;
    margin-bottom: 0px;
}
body, input, button {
font-size: 14px;
font-family: arial,sans-serif;
color: #222;
}

button {
border-radius:10%;
}

.navbarDiv .navbarA {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}
a.navbarA, span.navbarA {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.navbarDiv {
    display: inline-block;
    padding-left: 15px;
}
.navbarMenu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 30px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.navbar {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
a {
    color: #1a0dab;
    text-decoration:none;
    cursor: pointer;
}
a:hover {
  text-decoration:underline;
}

.google_word {
    padding: 10px 0px 20px 10px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.google_wordImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
.searchDiv {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
    align-items:initial;
    justify-items: initial;
    justify-content: center;
    width: 1200px;
    height: 100px;
    border:rgb(3, 3, 3);
}
form {
    object-fit: contain;
    object-position: center bottom;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    border: none;
    flex-direction: row;
    display: flex;
}
input {
    
    display: flex;
    width: 700px;
    height: 50px;
    border: 1px solid #202122;
    border-radius: 100px 100px 100px 100px ;

    box-shadow: 1px ;
}
input:hover {
    box-shadow: 1px 1px 1px 1px ;
}
.buttonGroup {
    display: flex;
    justify-content: center;
    padding: initial;
   
}
.searchButton {
    flex-direction: row;
    

}
button {
    width: 150px;
    height: 40px;
    border: none;
    display: initial;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #f8f9fa;
    border: 1px solid #202122;
}
.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    margin-bottom:200px
}
p, a {
    padding: 10px;
    
}
ul a{
    color: black;
}
.footerLast {
    display: flex;
    flex-direction: bottom;
    justify-content: space-around;
    align-items:center;
    background-color:#f2f2f2;
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;

}

.footerFirst {
    color: rgb(22, 21, 21);
    flex-direction: start;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom: 1px solid black;
}
.footer {
    background-color: #f2f2f2;
    width: 100%;
}